
<h2>所有博客</h2>

<% page.posts.each(function(post) { %>
    <article>
      <div class="row">

        <div class="three columns left lit">
          <p class="bottom"><%- full_date(post.date, 'YYYY /  MM/DD') %></p>
        </div>
        <div class="nine columns left mb-3">
          <a href="<%- url_for(post.path) %>" class="">
            <% if (post.title == "") { %>
              no title
            <% } else { %>
              <%- post.title %>
            <% } %>
          </a>
          <% if (post.tags.length > 0) { %>
            <div class="post-tag">
              <% post.tags.map((tag) => { %>
              <div class="post-tag-item" style="background-color:#<%- theme.post_tag.bind_color[tag.name] %>5c;">
                <div class="item-head" style="background-color:#<%- theme.post_tag.bind_color[tag.name] %>;"></div>
                <!-- % if (theme.post_tag.style != "simble") {  在所有博客页面不隐藏好一点-->
                <span class="item-text"><%- tag.name %></span>
                <!--  } % -->
              </div>
              <% }) %>
            </div>
            <% } %>
        </div>
      </div>
    </article>
<% }) %>
<%- partial('partial/pagination', {type: 'page'}) %>
